.mainBody{
    background: #D66D75;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E29587, #D66D75);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E29587, #D66D75); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 300px;
}

.tarefa{
    border-bottom: 1px solid white;
    width: 500px;
}

.mainContainer{
    width: 500px;
    margin: 20px auto;
    display: grid;
    grid-template-columns:1fr;
    grid-auto-rows: minmax(auto, auto);
}

.main{
    margin: 400px 0;
    height: 200px;
}

.tarefa{
    background:#FFFEFE;
    display: grid;
    grid-template-columns:3fr 1fr;
    grid-auto-rows: minmax(auto, auto);
    border-bottom: 2px solid #D66D75;
    color: white;
}

button{
    width: 100%;
    height: 100%;
    background:#f44242;
    border:0px;
}

.deletar>form>button>i{
    font-size: 20px;
}

div>h1{
    font-family: 'Amatic SC', cursive;
    color: white;
    font-weight: 100;
    font-size: 80px;
    text-align: center;
    margin-top: 10px;
}

div>h3{
    font-family: 'Roboto', sans-serif;
    color: #D66D75;
    font-weight: 100;
    text-align: center;
    height: 100%;
    line-height: 50px;
}

form>input{
    width: 100%;
    height: 100%;
    background-color:#FFFEFE;
    border:transparent;
    border-bottom: 5px solid #3F6699;
    border-left:transparent;
    padding: 10px 10px;
    font-family: 'Roboto', sans-serif;
    color:#ACACAC;
    border-radius: 5px 5px 0px 0px;
}

form>input:focus{
    outline: none;
}

form>input::placeholder{
    font-family: 'Amatic SC', cursive;
    color: #ACACAC;
    font-size: 20px;
}

#interna{
    width: 500px;
    
}
form{
    width: 100%;
    height: 50px;
}

.feito{
    text-decoration: line-through;
    color: #D66D75;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}